Flask
pytest==8.1.1
openai==1.13.3
Flask-Session==0.6.0
python-dotenv==1.0.1
pytest-mock==3.12.0
requests
langchain
unidecode
pylint
black
torch
torchvision
torchaudio
jax
jaxlib
transformers
huggingface_hub
faiss-cpu
sentence_transformers
beautifulsoup4