<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ChatGPT Chat App</title>
    <style>
        .title {
            color: red;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <div class="title">Your startup Name AI Tutorial</div>
    <div class="info">Model Name: {{ model_name }}</div>
    <div class="info">Port: {{ port }}</div>

    <div>
        <select id="botSelector">
            <option value="echo">Echo Bot</option>
            <option value="api">API Bot</option>
            <option value="local_llm">LocalLLM Bot</option>
            <option value="fine_tune">Fine-Tuned Bot on SQuAD</option>
        </select>
        <textarea id="userInput" placeholder="Type your message..."></textarea>
        <button onclick="sendMessage()">Send</button>
    </div>
    <button onclick="resetConversation()">Reset Conversation</button>

    <div id="chatLog"></div>

    <script>
        function sendMessage() {
            let message = document.getElementById('userInput').value;
            let botType = document.getElementById('botSelector').value;

            fetch('/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: message, bot_type: botType })
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('chatLog').innerHTML += '<div>User: ' + message + '</div>';
                    document.getElementById('chatLog').innerHTML += '<div>ChatGPT: ' + data.response + '</div>';
                    document.getElementById('userInput').value = '';
                });
        }
        function resetConversation() {
            fetch('/reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('chatLog').innerHTML = '';
                    console.log('Conversation reset:', data.status);
                });
        }

    </script>

</body>

</html>